.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 0 2vw;
}

.submitBtn{
    text-decoration: none;
    background-color: lightblue;
    padding: .5rem;
    border-radius: 1vh;
}

.submitBtn:hover {
    background-color: rgb(154, 148, 234);
}
