.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.search_space {
    width: 23%;
    height: 100%;
    background-color: #c4f0ce;
}

.result_space {
    width: 67%;
    height: 100%;
    overflow: auto;
    background-color: #2a302c;
}

.submission_space {
    width: 15%;
    background-color: #c4f0ce;
}

.submission_space h3 {
    text-align: center;
}

.logo {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    text-align: center;
}