.container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
}

.imageSection {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.frameList {
    width: 60%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}