.container {
    height: 100%;
    overflow: auto;
}

.scoreBtn:nth-of-type(1) {
  margin: 0px auto;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
}

.query_div {
  display: flex;
}

.query_div textarea:nth-of-type(1) {
  flex-grow: 1;
}

.submit_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2vh;
}

.submit_div textarea {
  margin: unset;
  height: 100%;
  width: 4rem;
  margin-left: 1vw;
}

.submit_div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit_div > * {
  height: 4em;
}

.submit_div span {
  font-weight: bold;
}

.inputtrans{
    width: 100%;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    max-height: 5rem;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    background-color: #dce8df;
}
.inputquery {
    width: 77%;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    max-height: 5rem;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    background-color: #dce8df;
}

input[name='file'] {
  margin-bottom: 2vh;
  text-align: center;
}

.inputnum {
    width: 20%;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    max-height: 5rem;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    margin-left: 3%;
    background-color: #dce8df;
}
.inputocrquery {
    width: 54%;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    max-height: 5rem;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    background-color: #dce8df;
}

.scoreBtn{
    width: 6rem;
    font-size: 1.3rem;
    height: 2.7rem;
    background-color: lightblue;
    border-radius: 2vh;
}

.submit_div input[type='checkbox'] {
  margin-right: 1vh;
  width: 1rem;
  height: 1rem;
}

.scoreBtn:hover {
    background-color: rgb(154, 148, 234);
}

.fileinput {
    display: flex;
    width: 65%;
}

.img_form_opt {
  border: 1px dashed gray;
  border-radius: 2vh;
  margin: 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_form_opt:nth-of-type(1) {
  height: 4em;
}

.img_form_opt:nth-of-type(2) {
  contain: paint;
}

.img_form_opt:nth-of-type(2) > div {
  position: relative;
}